body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

.questionTextBox{
    flex-basis: 86%;
    margin-right: 15px;
}

.questionButton{
    flex-basis: 7%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15pt;
    padding: 0px;
}

.questionField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width:70%;
    margin-bottom: 10px;
}

.updownArrows{
    margin: 5px;
    font-size: 16pt;
}
.updownArrows:hover{
    cursor: pointer;
}
.updownArrowsN{
    margin: 5px;
    font-size: 16pt;
}