<h1>My Questions</h1>
<div class="form-container">
    <form>
        <div id="questionContainer" class="form-group">
            <label>Edit your questions here:</label>
            <br><br>
            <div id="loadedQuestions" ng-repeat="(key,question) in vm.user.questions">
                <div class="questionField">               
                    <input type="text" id="q{{question.id}}" class="form-control questionTextBox" value="{{question.value}}" ng-blur="vm.updateQuestions(false)"/>
                    <button class="btn btn-danger questionButton" ng-click="vm.removeQuestion('q'+question.id)">-</button>
                    <div ng-if="key > 0" class="updownArrows" ng-click="vm.orderUp(key)"><span class="glyphicon glyphicon-chevron-up"></span></div>
                    <div ng-if="key == 0" class="updownArrowsN" ng-click="vm.orderUp(key)"><span>&emsp;</span></div>
                    <div ng-if="key < vm.user.questions.length-1" class="updownArrows" ng-click="vm.orderDown(key)"><span class="glyphicon glyphicon-chevron-down"></span></div>
                    <div ng-if="key == vm.user.questions.length-1" class="updownArrowsN" ng-click="vm.orderDown(key)"><span>&emsp;</span></div>
                </div>
            </div>
            <div class="questionField">
                <input type="text" id="qnew" class="form-control questionTextBox" placeholder="Insert new question"/>
                <button class="btn btn-success questionButton" ng-click="vm.addQuestion()">+</button>
                <div class="updownArrows" ng-click="vm.orderUp(key)"><span>&emsp;</span></div>
                    <div class="updownArrows" ng-click="vm.orderDown(key)"><span>&emsp;</span></div>
            </div>
        </div>
    </form>
</div>
